public net.minecraft.SharedConstants debugFlag(Ljava/lang/String;)Z

public net.minecraft.core.MappedRegistry registrationInfos

public net.minecraft.client.renderer.block.FluidRenderer MAX_FLUID_HEIGHT
public net.minecraft.client.renderer.block.FluidRenderer getHeight(Lnet/minecraft/client/renderer/block/BlockAndTintGetter;Lnet/minecraft/world/level/material/Fluid;Lnet/minecraft/core/BlockPos;)F
public net.minecraft.client.renderer.block.FluidRenderer getHeight(Lnet/minecraft/client/renderer/block/BlockAndTintGetter;Lnet/minecraft/world/level/material/Fluid;Lnet/minecraft/core/BlockPos;Lnet/minecraft/world/level/block/state/BlockState;Lnet/minecraft/world/level/material/FluidState;)F
public net.minecraft.client.renderer.block.FluidRenderer calculateAverageHeight(Lnet/minecraft/client/renderer/block/BlockAndTintGetter;Lnet/minecraft/world/level/material/Fluid;FFFLnet/minecraft/core/BlockPos;)F
public net.minecraft.client.renderer.block.FluidRenderer vertex(Lcom/mojang/blaze3d/vertex/VertexConsumer;FFFIFFI)V
public net.minecraft.client.renderer.block.FluidRenderer getLightCoords(Lnet/minecraft/client/renderer/block/BlockAndTintGetter;Lnet/minecraft/core/BlockPos;)I

public net.minecraft.client.resources.SkinManager skinTextureDownloader

public net.minecraft.world.level.block.BubbleColumnBlock CHECK_PERIOD
public net.minecraft.world.level.block.StairBlock <init>(Lnet/minecraft/world/level/block/state/BlockState;Lnet/minecraft/world/level/block/state/BlockBehaviour$Properties;)V
public-f net.minecraft.world.level.block.entity.BeaconBlockEntity VALID_EFFECTS

public net.minecraft.world.level.ClipContext collisionContext

public net.minecraft.world.level.levelgen.feature.configurations.TreeConfiguration <init>(Lnet/minecraft/world/level/levelgen/feature/stateproviders/BlockStateProvider;Lnet/minecraft/world/level/levelgen/feature/trunkplacers/TrunkPlacer;Lnet/minecraft/world/level/levelgen/feature/stateproviders/BlockStateProvider;Lnet/minecraft/world/level/levelgen/feature/foliageplacers/FoliagePlacer;Ljava/util/Optional;Lnet/minecraft/world/level/levelgen/feature/featuresize/FeatureSize;Ljava/util/List;ZLnet/minecraft/world/level/levelgen/feature/stateproviders/BlockStateProvider;)V
public net.minecraft.data.worldgen.features.VegetationFeatures segmentedBlockPatchBuilder(Lnet/minecraft/world/level/block/Block;IILnet/minecraft/world/level/block/state/properties/IntegerProperty;Lnet/minecraft/world/level/block/state/properties/EnumProperty;)Lnet/minecraft/util/random/WeightedList$Builder;

public net.minecraft.world.level.biome.Biome$ClimateSettings
public-f net.minecraft.world.level.chunk.ChunkGenerator featuresPerStep
#public-f net.minecraft.world.level.biome.Biome climateSettings
public-f net.minecraft.world.level.biome.Biome attributes
public net.minecraft.world.level.biome.MobSpawnSettings mobSpawnCosts
public-f net.minecraft.world.level.biome.MobSpawnSettings spawners
public-f net.minecraft.world.level.biome.MobSpawnSettings mobSpawnCosts
public-f net.minecraft.world.level.biome.MobSpawnSettings creatureGenerationProbability
public-f net.minecraft.world.level.biome.BiomeGenerationSettings features
public-f net.minecraft.world.level.biome.BiomeGenerationSettings featureSet
public-f net.minecraft.world.level.biome.BiomeGenerationSettings boneMealFeatures
public-f net.minecraft.world.level.biome.BiomeGenerationSettings carvers
public-f net.minecraft.world.level.biome.BiomeGenerationSettings mobSpawnCosts
public-f net.minecraft.world.level.biome.BiomeGenerationSettings creatureGeneration
public net.minecraft.world.level.biome.OverworldBiomeBuilder addBiomes(Ljava/util/function/Consumer;)V

public-f net.minecraft.world.level.block.grower.TreeGrower

public net.minecraft.world.level.levelgen.SurfaceRules$SequenceRuleSource
public net.minecraft.world.level.levelgen.SurfaceRules$BiomeConditionSource
public net.minecraft.world.level.levelgen.SurfaceRules$Condition
public net.minecraft.world.level.levelgen.SurfaceRules$Context
public net.minecraft.world.level.levelgen.SurfaceRules$LazyYCondition

public net.minecraft.server.level.ServerPlayer server

public-f net.minecraft.world.flag.FeatureFlags REGISTRY
public-f net.minecraft.world.flag.FeatureFlags CODEC

public net.minecraft.commands.synchronization.ArgumentTypeInfos BY_CLASS
public net.minecraft.commands.synchronization.ArgumentTypeInfos fixClassType(Ljava/lang/Class;)Ljava/lang/Class;

public net.minecraft.resources.RegistryDataLoader$LoaderFactory

public net.minecraft.server.network.ServerCommonPacketListenerImpl connection

public net.minecraft.core.Holder$Reference bindValue(Ljava/lang/Object;)V
public net.minecraft.core.RegistrySetBuilder$LazyHolder bindValue(Ljava/lang/Object;)V

public net.minecraft.resources.RegistryLoadTask
public net.minecraft.resources.RegistryLoadTask registry

public net.minecraft.util.datafix.DataFixTypes type

public net.minecraft.util.datafix.DataFixers createRenamer(Ljava/util/Map;)Ljava/util/function/UnaryOperator;
public net.minecraft.util.datafix.DataFixers createRenamer(Ljava/lang/String;Ljava/lang/String;)Ljava/util/function/UnaryOperator;
